<h2 style="text-align: center; background-color: #4d648d; font-family:Arial; color: white; padding: 13px; line-height: 1; border-radius:10px">Normaliser les donnÃ©es ðŸ“ˆ</h2>

In [1]:
import pandas as pd
df = pd.read_csv("db_customers.csv")
df.head()

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_installments,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,1.0,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,1.0,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,perfumery
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,3.0,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,auto

In [3]:
#!pip install sklearn
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [4]:
colonnes_numeriques = df.select_dtypes(include=['int64', 'float64']).columns
colonnes_numeriques

Index(['payment_installments', 'payment_value', 'review_score',
       'customer_zip_code_prefix'],
      dtype='object')

In [5]:
scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df.select_dtypes(include=['int64', 'float64'])), 
                             columns=df.select_dtypes(include=['int64', 'float64']).columns)
df_normalized.head()

   payment_installments  payment_value  review_score  customer_zip_code_prefix
0              0.000000       0.001326          0.75                  0.021688
1              0.000000       0.000146          0.75                  0.021688
2              0.000000       0.001361          0.75                  0.021688
3              0.000000       0.010353          0.75                  0.473082
4              0.086957       0.013109          1.00                  0.750523

In [6]:
scaler2 = StandardScaler()
df_standardized = pd.DataFrame(scaler2.fit_transform(df.select_dtypes(include=['int64', 'float64'])), 
                               columns=df.select_dtypes(include=['int64', 'float64']).columns)
df_standardized.head()

   payment_installments  payment_value  review_score  customer_zip_code_prefix
0             -0.696146      -0.566670     -0.052116                 -1.070770
1             -0.696146      -0.632822     -0.052116                 -1.070770
2             -0.696146      -0.564741     -0.052116                 -1.070770
3             -0.696146      -0.060518     -0.052116                  0.443036
4              0.036782       0.094028      0.688399                  1.373472