<h2 style="text-align: center; background-color: #4d648d; font-family:Arial; color: white; padding: 13px; line-height: 1; border-radius:10px">Grouper et agréger les données ➕</h2>

In [1]:
import pandas as pd
df = pd.read_csv("db_customers.csv")
df.head()

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_installments,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,1.0,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,1.0,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,perfumery
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,3.0,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,auto

In [2]:
df_grouped = df.groupby(['customer_unique_id', 'customer_state']).agg({"payment_value" : "sum", "order_id" : "count"}).reset_index()
df_grouped.head()

                 customer_unique_id customer_state  payment_value  order_id
0  00053a61a98854899e70ed204dd4bafe             PR         419.18         1
1  00082cbe03e478190aadbea78542e933             SP         126.26         1
2  000949456b182f53c18b68d6babc79c1             SP          82.05         1
3  000bfa1d2f1a41876493be685390d6d3             SP          93.70         2
4  00191a9719ef48ebb5860b130347bf33             SP          58.86         1