<h2 style="text-align: center; background-color: #4d648d; font-family:Arial; color: white; padding: 13px; line-height: 1; border-radius:10px">SÃ©lectionner des colonnes ðŸ‘‰</h2>

In [14]:
import pandas as pd
df = pd.read_csv("db_customers.csv")
df.head()

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_installments,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,1.0,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,1.0,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,perfumery
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,3.0,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,auto

In [15]:
df['order_status'].value_counts()

delivered      15525
shipped          166
canceled          96
unavailable       91
invoiced          47
processing        44
created            2
Name: order_status, dtype: int64

In [16]:
df = df.drop("payment_installments", axis="columns")
df

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,perfumery
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,auto
...,...,...,...,...,...,...,...,...,...,...,...,...
15966,1f448aec779fffc0060134f9c1c19370,delivered,2017-11-24 15:56:20,2017-12-06 02:08:57,credit_card,62.44,4,a69bc3bdf000ea4e9d4ab48291597c2e,1535,sao paulo,SP,garden_tools
15967,75d87a7050b2959f4d5c51a28525e2d7,delivered,2018-01-08 20:04:04,2018-01-24 18:42:59,credit_card,115.05,5,535e76c08668acc7f9c8dff6161c866d,74475,goiania,GO,office_furniture
15968,8b030516b5067d6a711fad2df0bab663,delivered,2018-08-05 12:01:28,2018-08-21 16:03:14,credit_card,286.60,4,3c103d77bd410537ae2a32c2b8155477,35960,santa barbara,MG,auto
15969,7d61ebcead33128e9bf98b49d336a1ff,delivered,2017-10-14 07:31:28,2017-10-25 20:34:05,credit_card,85.16,5,1a85d10e646676972624f9b6673b1753,86010,londrina,PR,housewares
15970,232ed087a5c59841a1a56af1fe8d797d,delivered,2017-05-03 21:09:15,2017-05-23 10:47:57,voucher,100.00,4,1ad1e13cd5548d43d147e73635e5ba3e,64840,guadalupe,PI,auto

In [17]:
df2 = df[["customer_unique_id", "review_score"]]
df2

                     customer_unique_id  review_score
0      7c396fd4830fd04220f754e42b4e5bff             4
1      7c396fd4830fd04220f754e42b4e5bff             4
2      7c396fd4830fd04220f754e42b4e5bff             4
3      af07308b275d755c9edb36a90c618231             4
4      3a653a41f6f9fc3d2a113cf8398680e8             5
...                                 ...           ...
15966  a69bc3bdf000ea4e9d4ab48291597c2e             4
15967  535e76c08668acc7f9c8dff6161c866d             5
15968  3c103d77bd410537ae2a32c2b8155477             4
15969  1a85d10e646676972624f9b6673b1753             5
15970  1ad1e13cd5548d43d147e73635e5ba3e             4

[15971 rows x 2 columns]